@model List<Product>
<style>
	.filters {
		display: flex;
		justify-content: center;
		gap: 50px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

    .button {
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #ffd700;
    border: none;
	height: 50px;
	width: 150px;
    }

	.card-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-items: center;
		gap: 20px;
		padding: 20px;
	}

	.card {
		width: 20rem;
		height: 22rem;
	}

	.anchor-card {
		text-decoration: none;
	}
</style>
<div class="filters">
	<form asp-action="Index" method="get">
		<button class="button btn-dark" type="submit">All</button>
	</form>
	<form asp-action="BigTime" method="get">
		<button class="button btn-dark" type="submit">BigTime</button>
	</form>
	<form asp-action="Burgers" method="get">
		<button class="button btn-dark" type="submit">Burgers</button>
	</form>
	<form asp-action="Beverages" method="get">
		<button class="button btn-dark" type="submit">Beverages</button>
	</form>
</div>
<div class="card-container">
	@foreach (var obj in Model)
	{
		<a class="anchor-card" asp-route-id="@obj.ProductId" asp-action="Item">
			<form>
				<div class="card border-primary mb-3">
					<div class="card-header">@obj.Category</div>
					<div class="card-body">
						<img src="@obj.ImageUrl" alt="Uploaded Image" style="max-width: 200px;" />
						<h4 class="card-title">@obj.Name</h4>
						<p>₱@obj.Price</p>
					</div>
				</div>
			</form>
		</a>
	}
</div>
